
.birinchi{
    color:green;
border:5px solid green;
}
.ikkinchi{
    color:yellow;
    border:5px solid green;
}
.uchinchi{
    color:blue;
    border:5px solid blue;
}
.tortinchi{
    color:red;
    border:5px solid red;  
}
.beshinchi{
    color:pink;
    border:5px solid pink;
}
.oltinchi{
    color:brown;
    border:5px solid brown;
}