
.birinchi{
background:green;
}
.ikkinchi{
background-color: red;
}
.uchinchi{
 background-color:blue;
}
.tortinchi{
background-color: brown; 
}
.beshinchi{
background-color: yellow;
}
.oltinchi{
background-color: red;
}